<div class="container">
    <div class="row mt-5">
        <%= render('layouts/sidenav') %>
        <div class="col-md-7">
            <div id="calendar"></div>
        </div>
        <div class="col-md-3">
            <%= render('layouts/advertisement') %>
        </div>
    </div>
</div>

        <script>
        $('#calendar').fullCalendar({
        defaultView: 'month'
        });
        </script>
