<div class="row">
    <div class="col-md-3">
        Đây là admin bar
    </div>
    <div class="col-md-7">
        <h1>New Event</h1>
        <%= render 'form', event: @event %>
        <%= link_to 'Back', events_path %>
    </div>
</div>
