/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "navigation";
@import "footer";
@import "welcome";
@import "fullcalendar";
@import "events";
@import "comments";
@import "places";

.body{
    min-height: 1000px;
}

.card-header{
    background-color: $bgDefault;
    color: $colDefault;
}

.btn-disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

th{
    background-color: $bgDefault;
    color: $colDefault;
}
