// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "navigation";
@import "footer";
@import "welcome";

.body{
    min-height: 1000px;
}

.card-header{
    background-color: $bgDefault;
    color: $colDefault;
}
