// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-form{
    div {
        width: 100%;
        .form-control{
            width: 60%;
        }
    }
}
.comment-image{
    width: auto !important;
    display: inline-block;
}
.comment-picture{
    max-width: 80%;
    max-height: 200px;
}
