// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-slide-size {
    height: 300px;
    background-color: gray;
}
.event-pictures {
    max-width: 100%;
    max-height:100%;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.gj-datepicker-md [role="right-icon"] {
    right: 5px;
    top: 7px;
}
