<div class="row">
    <%= render('layouts/adminsidenav') %>
    <div class="col-md-7">
        <h1>Editing Place</h1>

        <%= render 'form', place: @place %>

        <%= link_to 'Show', @place, class: "btn btn-info" %> 
        <%= link_to 'Back', places_path, class: "btn btn-link" %>
    </div>
</div>
