<div class="col-md-2">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <%= link_to 'Manage Places', places_path, method: :get, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Manage Events', events_path, method: :get, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Manage Admins', users_path, method: :get, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">View analytics</a>
    </li>
  </ul>
</div>