<div class="col-md-2">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Manage Places</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Manage Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Manage Admins</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">View analytics</a>
    </li>
  </ul>
</div>