<header>
    <% if user_signed_in? %>
        <% if current_user.admin? %>
            <%= link_to 'Manage Events', events_path, method: :get %>
        <% else %>
            <a href="#"> My Calendar</a>
        <% end %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to 'Sign in', new_user_session_path, method: :get %>
        <%= link_to 'Sign up', new_user_registration_path, method: :get %>
    <% end %>
</header>